.hero-sec {
  height: 40rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#00000069), url(../../../public/Image\ Placeholder\ \(3\).png);
  color:white;
  justify-content: center;
  padding: 0 10%;
}

.hero-sec h1 {
  font-family: Lora, sans-serif;
  font-weight: 600;
  font-size: 60px;
}

.hero-sec p {
  font-size: 30px;
}

.book-box {
  justify-self: center;
  display: flex;
  width: 1000px;
  justify-content: space-between;
  background: #304f47;
  color: white;
}


