* {
  font-family: Mulish, sans-serif;
}

.header1 {
  background:#304f47;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

.address-box {
  display: flex;
}

.address1,
.address2 {
  display: flex;
}

.socials {
  display: flex;
  flex-direction: row;
}

.header2 {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

.header2 ul {
  display: flex;
  gap: 15px; 
  align-items:center;
}

.header2 ul li {
  display: flex;
}
